# Purpose

<H3>To build a classifier that identifies a successful or unsuccessful Kickstarter project.</H3>

## Dataset 

- kickstarter-dataset-1.csv
- kickstarter-dataset-2.csv

## Process Flow


![process_flow](images/process.JPG)

In [1]:
import pandas as pd
import lux
import numpy as np
import warnings
warnings.filterwarnings("ignore")

## DATA Loading 

Load both datasets using pandas library.

In [16]:
dataset_1 = pd.read_csv('kickstarter-dataset-1.zip',encoding='ISO-8859-9' )
dataset_2 = pd.read_csv('kickstarter-dataset-2.zip',encoding='ISO-8859-9' )

In [17]:
dataset_1.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              323750 non-null  int64
 1   name            323746 non-null  object
 2   category        323745 non-null  object
 3   main_category   323750 non-null  object
 4   currency        323750 non-null  object
 5   deadline        323750 non-null  object
 6   goal            323750 non-null  object
 7   launched        323750 non-null  object
 8   pledged         323750 non-null  object
 9   state           323750 non-null  object
 10  backers         323750 non-null  object
 11  country         323750 non-null  object
 12  usd pledged     319960 non-null  object
 13  Unnamed: 13     625 non-null     object
 14  Unnamed: 14     12 non-null      object
 15  Unnamed: 15     4 non-null       object
 16  Unnamed: 16     1 non-null       float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [18]:
dataset_1.head(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233,NaN,NaN,NaN,NaN
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,NaN,NaN,NaN,NaN
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN

In [23]:
dataset_2.info()

ValueError: Cannot convert non-finite values (NA or inf) to integer

## DATA Cleaning

In [21]:
dataset_1.corr()

             ID   Unnamed: 16
ID           1.0          NaN
Unnamed: 16  NaN          NaN

In [22]:
dataset_2.corr()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

## EXPLORATORY DATA ANALYSIS

In [ ]:
dataset_1.histogram()